{% extends "base.html" %}

{% block title %}Flasky - Server error!{% endblock %}

{% block page_content %}
<body>
  <div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
      <div class="animation-preloader">
        <div class="spinner"></div>
      </div>
      <div class="loader">
        <div class="row">
          <div class="col-3 loader-section section-left">
            <div class="bg"></div>
          </div>
          <div class="col-3 loader-section section-left">
            <div class="bg"></div>
          </div>
          <div class="col-3 loader-section section-right">
            <div class="bg"></div>
          </div>
          <div class="col-3 loader-section section-right">
            <div class="bg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="body_wrapper">
    <header class="header_area">
      <nav class="navbar navbar-expand-lg menu_one menu_four hosting_menu">
        <div class="container">
          <a class="navbar-brand sticky_logo" href="index.html"><img src="static/images/logo/logo2.png" srcset="static/images/logo2x-2.png 2x" alt="logo" style="height: 30px;"><img src="static/images/logo/logo2.png" srcset="static/images/logo2x.png 2x" alt="" style="height: 30px;"></a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_toggle">
              <span class="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </span>
              <span class="hamburger-cross">
                <span></span>
                <span></span>
              </span>
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav menu w_menu ml-auto">
              <li class="nav-item dropdown submenu mega_menu mega_menu_two active">
                <a class="nav-link dropdown-toggle" href="index.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  GET DIAGNOSED
                </a>
              </li>
              <li class="nav-item dropdown submenu mega_menu">
                <a class="nav-link dropdown-toggle" href="diagnoser.html">
                  DIAGNOSER
                </a>
              </li>
              <li class="nav-item dropdown submenu mega_menu">
                <a class="nav-link dropdown-toggle" href="#m1">
                  MISSION
                </a>
              </li>
              <li class="nav-item dropdown submenu">
                <a class="nav-link dropdown-toggle" href="#appo1">
                  BOOK APPOINTMENT
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="hosting_banner_area">
      <div class="pos_slider owl-carousel">
        <div class="pos_banner_item" style="background:url(static/images/patient/vd.png)"></div>

      </div>
      <div class="container">
        <div class="pos_banner_text text-center">
          <h1 style="color: #ffffff;">VISUAL DIAGNOSER</h1>
          <br>
          <br>
          <br>
          <h2>Want to know whether you have diabetes?</h2>
          <div class="action_btn d-flex align-items-center justify-content-center wow fadeInLeft" data-wow-delay="0.6s">
            <a href="#appo1" class="software_banner_btn">Book Appontment</a>
          </div>
        </div>
      </div>
    </section>
    <section class="hosting_service_area sec_pad">
      <div class="container">
        <div class="hosting_title text-center">
          <h2 class="wow fadeInUp" data-wow-delay="0.3s">HOW IT WORKS.</h2>
          <p class="wow fadeInUp" data-wow-delay="0.5s">No pricking! Just a photo of the eye.</p>
        </div>
        <div class="container">


          <div class="features_info">
            <!-- <img class="dot_img" src="static/images/process/divider.png" alt=""> -->
            <div class="row agency_featured_item mt-0 flex-row-reverse">
              <div class="col-md-6">
                <div class="agency_featured_img text-right wow fadeInRight" data-wow-delay="0.2s">
                  <img src="static/images/patient/p1.png" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="agency_featured_content pr_70 pl_70">
                  <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                  <img class="number" src="static/images/home4/icon01.png" alt="">
                  <h3>REQUEST YOUR DIAGNOSIS</h3>
                  <p align="justify">The diagnoser will require your permission in order to take a photo of your eye to determine whether you may be suffering from diabetes or not.</p>
                </div>
              </div>
            </div>
            <div class="row agency_featured_item agency_featured_item_two">
              <div class="col-md-6">
                <div class="agency_featured_img text-right wow fadeInLeft" data-wow-delay="0.2s">
                  <img src="static/images/patient/p2.png" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="agency_featured_content pl_100">
                  <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                  <img class="number" src="static/images/home4/icon02.png" alt="">
                  <h3>GET DIAGNOSED</h3>
                  <p align="justify">Request to be diagnosed by a diagnoser in your area. The diagnoser will come to you and do the diagnosis where you are or opt to take the tests at specified locations.</p>
                </div>
              </div>
            </div>
            <div class="row agency_featured_item flex-row-reverse">
              <div class="col-md-6">
                <div class="agency_featured_img text-right wow fadeInRight" data-wow-delay="0.2s">
                  <img src="static/images/patient/p3.png" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="agency_featured_content pr_70 pl_70">
                  <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                  <img class="number" src="static/images/home4/icon3.png" alt="">
                  <h3>BOOK YOUR APPOINTMENT</h3>
                  <p>Book an appointment with a doctor if the result of your diagnosis shows that you may be diabetic.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="h_action_area" id="m1">
      <div class="container">
        <div class="row payment_testimonial_info flex-row-reverse">
          <div class="col-lg-12 d-flex align-items-center">
            <div class="testimonial_content">
              <h1 style="color: #ffffff;">MISSION</h1>
              <br>
              <div class="icon">,,</div>
              <p class="f_p f_size_20" align="justify" style="color: #ffffff;">“Our mission is to democratize healthcare by making medical diagnosis accessible to everyone.”</p>
              <div class="author f_600 f_p t_color f_size_20">Dominic Tabu</div>
              <div class="author_description f_p f_size_15" style="color: #ffffff;">Founder and C.E.O</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="h_action_promo_area" id="appo1">
      <div class="overlay_bg" style="background:url(static/images/patient/bukapo.png)"></div>
      <div class="container">

        <div class="row rowsafari heading-ff-2">
          <div class="col-md-6">
            <div class="agency_featured_content pr_70 pl_70">
              <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
              <img class="number" src="static/images/home4/icon3.png" alt="">
              <h3>REGISTER WITH US</h3>
              <br>
              <h4 style="font-size: 16px;">Ready to get diagnosed and find out if you have diabetes? Get info in your inbox when we are ready.</h4>
            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-6 offset-md-4 offset-sm-4">
            <div class="book-now-form" style="margin-top: -220px;">
              <div class="book-form-head text-center">
                <h3>REGISTRATION</h3>
              </div>
              <form action="#" class="book-form" method="post">

                <div class="form-div form-div-left">
                  <input class="form-input" type="text" name="name" value="" placeholder="Enter Your Name" required autocomplete="off">
                </div>
                <div class="form-div">
                  <input class="form-input" type="email" name="email" value="" placeholder="Enter Your Email" required autocomplete="off">
                </div>
                <div class="form-div">
                  <input class="form-input" type="tel" name="phone" value="" placeholder="Enter Your Phone Number" required autocomplete="off">
                </div>
                <div class="form-btn button text-center">
                  <button class="btn btn-1" type="submit"><span>Submit</span></button>
                </div>
                <div class="messageDiv"> <span class="sucessMessage"> </span> <span class="failMessage"> </span> </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer_area h_footer_dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="f_widget dark_widget company_widget">
              <a href="index.html" class="f-logo"><img src="static/images/logo/flogo.png" alt="" style="height: 30px;"></a>
              <p>© 2019 Visual Diagnoser. All rights reserved.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget dark_widget about-widget pl_70">
              <ul class="list-unstyled f_list">
                <li><a href="index.html">Get Diagnosed</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="f_widget dark_widget about-widget pl_20">
              <ul class="list-unstyled f_list">
                <li><a href="diagnoser.html">Diagnoser</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <div class="f_widget dark_widget about-widget pl_20">
              <ul class="list-unstyled f_list">
                <li><a href="javascript::void()">Support</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </footer>


  </div>
</body>
{% endblock %}

	