<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file upload endpoint</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
    	<main role="main" class="container">
        <h1>Visual Diabetes Diagnoser</h1><br>
        <h2>upload api</h2>
      <div class="row">
        <div class="col-sm-6">
  		    <ul>
            <li>url: <em>http://0.0.0.0:9099/upload</em></li>
            <li>Method: <em>POST</em></li>
            <li>Consumes: <em>multipart/form-data</em></li>
            <li>Body</li>
              <ul class="list-unstyled">
                <li><code>lastname</code>
                  <ul>
                    <li>type: <em>string</em></li>
                    <li>description: <em>Last name of person to create.</em></li>
                  </ul>
                </li>
                <li><code>firstname</code>
                  <ul>
                    <li>type: <em>string</em></li>
                    <li>description: <em>First name of person to create.</em></li>
                  </ul>
                </li>
                <li><code>results</code>
                  <ul>
                    <li>type: <em>string</em></li>
                    <li>description: <em>The results converted to string.</em></li>
                  </ul>
                </li>
                <li><code>description</code>
                  <ul>
                    <li>type: <em>string</em></li>
                    <li>description: <em>Some description.</em></li>
                  </ul>
                </li>
                <li><code>image</code>
                  <ul>
                    <li>type: <em>file</em></li>
                    <li>description: <em>The image to upload.</em></li>
                  </ul>
                </li>
              </ul>
            <li>Response</li>
              <ul class="list-unstyled">
                <li>200</li>
                  <ul>
                    <li>description: <em>successful upload.</em></li>
                    <li><em>Returns a json object of the schema.</em></li>
                  </ul>
              </ul>
              
          </ul>
  		  </div>
        <div class="col-sm-6">
          <h5>Sample response</h5>
          <pre>
            <code>
              {
                  "description": "description 101",
                  "fname": "John",
                  "image_id": 11,
                  "image_name": "vickery_creek_bed.jpeg",
                  "lname": "Doe",
                  "results": "[{"0": 0, "1": 1, "2": 2, "3": 3, "4": 4}]",
                  "timestamp": "2019-05-13T18:20:37.589554+00:00"
              }
            </code>
          </pre>
        </div>
      </div>

		</main>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>